<!DOCTYPE html>
<html lang="en">

<head>

    <title>Coffee King</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/site/stylesheets/style.css">
    <link rel="stylesheet" href="/site/stylesheets/emailcontact.css">

</head>

<body>
    <!-- nav starts here -->
    <header>
            <input type="checkbox" id="toggle">

            <nav>

                <a class="navbar-brand" href="#">
                    <img class="small-logo" src="/site/images/logo-small.png" alt="">
                </a>

                <label class="navbar-toggler" for="toggle">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </label>

                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="nav-link">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="nav-link">Log in</a>
                    </li>
                </ul>

            </nav>
    </header>
    <!-- landing page starts here -->
    <section>
        <div class="landing-page-container">
            <img class="landing-page-image" src="/site/images/0.2.png" alt="">
            <button class="landing-page-button">Order Now</button>
        </div>
        <div class="cover-menu-container">
            <div class="cover-upper">
                <div class="best-seller-cover">
                    <img class="best-seller-image" src="/site/images/5.png" alt="">
                    <button class="best-seller-button">Select</button>
                </div>
                <div class="bundles-cover">
                    <img class="bundles-image" src="/site/images/4.png" alt="">
                    <button class="bundles-button">Select</button>
                </div>
            </div>
            <div class="cover-mid">
                <div class="pizza-cover">
                    <img class="pizza-image" src="/site/images/2.png" alt="">
                    <button class="pizza-button">Select</button>
                </div>
                <div class="fries-cover">
                    <img class="fries-image" src="/site/images/3.png" alt="">
                    <button class="fries-button">Select</button>
                </div>
                <div class="combo-cover">
                    <img class="combo-image" src="/site/images/1.png" alt="">
                    <button class="combo-button">Select</button>
                </div>
            </div>
            <div class="cover-lower">
                <div class="all-menu-cover">
                    <button class="all-menu-button">View All Menu</button>
                    <img class="all-menu-image" src="/site/images/logo.JPG" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- footer here -->
<footer>
  
    <div class="copyrigth" href="/site/views/index.ejs">
        <div class="bottom ">	&#169;Golden Brew Owner &#124; Web Developer</div>
    </div>
  </footer>
    <script src="./script.js">
        
    </script>

  
</body>

</html>