<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="/site/stylesheets/emailcontact.css">
  <link rel="stylesheet" type="text/css" href="../public/css/style.css">
  
</head>
<body>
    <div>
    <a class="navbar-brand" href="/"><img class="logo-small-image" src="site/images/logo-small.png" alt="" style="height: 70px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </div>

  <div class="container mt-5">
    <h1>Register</h1>
  
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
  
            <!-- Makes POST request to /register route -->
            <form action="/register" method="post">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" id="name" name="name" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" id="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="confirmPassword">Confirm Password</label>
                  <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Signup</button>
              </form>
              <p>Already have an account? <a href="/login">Login</a></p>
  
          </div>
        </div>
      </div>
  
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
              <i class="fab fa-google"></i>
              Sign Up with Google
            </a>
          </div>
      
        </div>
      </div>
  
    </div>
  </div>
         <!-- footer here -->
         <footer>
  
          <div class="copyrigth" href="/site/views/index.ejs">
            <div class="bottom ">	&#169;Golden Brew Owner &#124; Web Developer</div>
          </div>
      </footer>

</body>
</html>